
serial=201609101600

# aes setting
aes.key=KeyStr
aes.iv=IVStr

# export file setting
gzip=true
charset=UTF-8
timezone=UTC
datetime.format=yyyy/MM/dd HH:mm:ss

# db export setting
# "db.sql", for security, create view as limited user.
db.driver=jdbc:mysql://;com.mysql.jdbc.Driver
db.con=jdbc:mysql://localhost/bspark?user=root&password=root&useSSL=false
db.sql=SELECT * FROM `groups`
